<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl-PL">
    <head>
        <!-- Basic -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Site Metas -->
        <link rel="icon" href="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/48/icon-requests-icon.png"/>
    
        <title>E-Commerce</title>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/admin.css}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/datatables.min.css"/>


    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Admin panel</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Admin/index">Product</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Admin/indexUser">User</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Customer/index">Shop</a> 
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/logout">logout</a> 
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="btn btn-light btn-sm" id="sidebarToggle"><span class="navbar-toggler-icon"></span></button>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span></button>

                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <h4 class="mt-4 text-center">User Lists:</h4>
                    <a href="/Admin/addUser">Add User</a>
                    <hr/>
                    <table id="example" class="table table-striped" style="width:100%">
                        <thead>
                          <tr>
                            <th>id </th>
                            <th>Email</th>
                            <th>Password</th>
                            <th>Username</th>
                          </tr>
                        </thead>
                        <tbody>
                        <tr th:each="u : ${user}">
                            <td th:text="${u.id}"></td>
                            <td th:text="${u.email}"></td>
                            <td th:text="${u.password}"></td>
                            <td th:text="${u.userName}"></td>
                            <td>
                                <a class="btn btn-danger btn-sm" th:href="@{/Admin/delete-user/{id}(id=${u.id})}">delete</a>
                                <a class="btn btn-success btn-sm" th:href="@{/Admin/editer-user/{id}(id=${u.id})}">Edit&nbsp;</a>
                            </td>
                        </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script  th:src="@{/js/admin.js}"></script>

        <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/r-2.3.0/datatables.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#example').DataTable();
            });
        </script>
    </body>
</html>